langchain
fastapi
dotenv
langchain_core
langchain_qdrant
langchain-google-genai
langchain-huggingface
qdrant-client
collections
datetime
typing
asyncio
httpx
uvicorn
time
langchain-community
sentence-transformer
python==3.11.9
